# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore Python virtual environments
venv/

# Ignore log files
*.log

# Ignore IDE folders
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db
